@page
@model IEnumerable<EcommerceAPI.Models.User>
@{
    ViewData["Title"] = "Home page";
}


<h2>Users from API:</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>FullName</th>
        <th>Address</th>
        <th>BirthDate</th>
        <th>IsSeller</th>
        <th>Balance</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FullName</td>
            <td>@user.Address</td>
            <td>@user.BirthDate</td>
            <td>@user.IsSeller</td>
            <td>@user.Balance</td>
            <td>@user.CreatedAt</td>
            <td>@user.UpdatedAt</td>
        </tr>
    }
    </tbody>
</table>